.chara-1 {
  color: seagreen;
}

.chara-2 {
  color: chocolate;
}

.chara-3 {
  color: steelblue;
}

.chara-4 {
  color: palevioletred;
}

.gm {
  color: black;
}

.gm::before {
  content: 'GM: ';
  font-weight: bold;
  font-size: 1.2em;
}

.pl::before {
  content: 'PL: ';
  font-weight: bold;
  font-size: 1.2em;
}
