:root {
  --part0-color: black;
  --part1-color: seagreen;
  --part2-color: chocolate;
  --part3-color: steelblue;
  --part4-color: palevioletred;
}

.part0 {
  --my-color: var(--part0-color);
  color: var(--my-color);
}

.part1 {
  --my-color: var(--part1-color);
  color: var(--my-color);
}

.part2 {
  --my-color: var(--part2-color);
  color: var(--my-color);
}

.part3 {
  --my-color: var(--part3-color);
  color: var(--my-color);
}

.part4 {
  --my-color: var(--part4-color);
  color: var(--my-color);
}

.participants li .charactor-name::before {
  background-color: var(--my-color);
}



