:root {
  --pc1-color: seagreen;
  --pc2-color: chocolate;
  --pc3-color: steelblue;
  --pc4-color: palevioletred;
  --gm-color: black;
}

.chara-1 {
  --my-color: var(--pc1-color);
  color: var(--my-color);
}

.chara-2 {
  --my-color: var(--pc2-color);
  color: var(--my-color);
}

.chara-3 {
  --my-color: var(--pc3-color);
  color: var(--my-color);
}

.chara-4 {
  --my-color: var(--pc4-color);
  color: var(--my-color);
}

.gm {
  --my-color: var(--gm-color);
  color: var(--my-color);
}

.participants li .charactor-name::before {
  background-color: var(--my-color);
}



